includes:
  - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
  level: 10
  paths:
    - src
  stubFiles:
    - tests/phpstan/pest-expectations.stub
  tmpDir: .phpstan-cache
  checkBenevolentUnionTypes: true
